@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
*{
    font-family: 'Julius Sans One';

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(80, 80, 255);
    color : white;
}
form{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
form p{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}
#btn{
    margin-top: 2%;
    padding: 1em;
    width: 40%;
    font-size: 0.7em;
}

input{
    width: 100%;
    height: 45px;
    font-size: 1.2em;
}

p {
    font-size: 1.5em;
}

#erase {
    width: 20%;
}
