@import url('https://fonts.googleapis.com/css2?family=Damion&family=Jost:wght@300;400&family=Montserrat:wght@300;400&family=Open+Sans:wght@400;500;700&family=Poppins&family=Quicksand:wght@600&family=Spartan:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Moo+Lah+Lah&family=Quicksand:wght@500&display=swap');
body{
font-family: 'Jost','sans-serif';
margin: 0;
padding: auto;
}

/************************************* Load ***************************************/

.gif{
    width: 100%; 
}
.welcome{
    position: absolute;
    width: 500px;
    height: 200px;
    margin-left: 630px;
    margin-top: 500px;
    font-size: 7em;
    color: white;
    text-align: center;
    font-family: 'Cinzel';
    
}

/*
.arrow{
    border-radius: 50%;
    position: relative;
    bottom: 1550px;
    left: 900px;
    width: 5%;
    
}
*/

/************************************* Nav-bar ***************************************/
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 1em;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #020202;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

ul .nav{
    text-align: center;
}

/************************************* Nav-bar ***************************************/

/************************************* Main ***************************************/

.title1{
    font-size: 3em;
    background-color: #020202;
    color: white;
}
.title2{
    font-size: 2.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: justify;
    margin-top: 82px;
    font-size: 1.3em;
}

.main {
    margin-top: 34px;
    border-radius: 30px;
    transition: 1.5s ease-in-out;
    border-radius: 50%;
}

.main:hover {
    transform: scale(1.2);
}
.btn-ghibli {
position: relative;
left : 46%;
}

.btn-ghibli:hover {
    background-color: white;
    color : black;
}
/************************************* Main ***************************************/

/************************************* Carrousel ***************************************/

h5{
    font-size: 1.5em;
    background-color: white;
    color: black;
    text-align: center;
    
}

.carousel-caption {
    position: absolute;
    color: #fff;
    
}

.description{
    font-size: 1.5em;
    background-color: black;
    
}

article{
    font-size: 1.5em;
}

/************************************* Carrousel ***************************************/

/************************************* Footer ***************************************/

