@import url('https://fonts.googleapis.com/css2?family=Damion&family=Jost:wght@300;400&family=Montserrat:wght@300;400&family=Open+Sans:wght@400;500;700&family=Poppins&family=Quicksand:wght@600&family=Spartan:wght@300;700;900&display=swap');



/************************************* Header ***************************************/

/************************************* Lieux ***************************************/
img{
    width: 100%;
    margin-top: 5px;
    padding-left: 5px;
}
.galerie{
    -webkit-box-shadow: 14px 4px 3px 5px rgba(147,147,147,0.35); 
    box-shadow: 14px 4px 3px 5px rgba(147,147,147,0.35);
}
h6{
    font-size: 3em;
    padding: 0.5em;
    width: 145%;
    font-family: 'Cinzel';
    color: black;
}

P{
    text-align: justify;
}

h4{
margin-top: 20px;
}
.ytb-img{
width: 50%;
border-radius: 50%;
position: relative;
left: 40%;
top:12%;
}
.tftable {
    font-size:12px;color:#333333;
    width:100%;
    border-width: 1px;
    border-color: #f4f9fa;
    border-collapse: collapse;
}
.tftable tr {
    background-color:#ffffff;
}
.tftable td {
    font-size:20px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #bcc4c5;
}
.tftable tr:hover {
    background-color:#000000;
    color: white;
}

.first{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
