@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Libre+Barcode+39+Text&family=Lobster&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Libre+Barcode+39+Text&family=Lobster&family=Quicksand&family=Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@500&family=Moo+Lah+Lah&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f0e2;
}

p {
    font-size: 7em;
    color:#8C8CF7;
    font-family: 'Monserrat', sans-serif;  
    margin-top: 11%;

}

span{
    color: black;
}

p:hover {
    color: #8c8cf7;
    transition: 0.5s;
}

span{
    font-family: 'Spartan';
    font-size: 0.2em;
    position : relative; 
    bottom: 15%;
    
}


li{
    font-family: 'Spartan';
    text-decoration: none;
    list-style-type: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-align: right;
    display: inline;
    padding: 0.5em;
}

li:hover{
    background-color: rgb(140, 140, 247);
    transition: 0.5s;
    color: cornsilk;
    border-radius: 15px;

}

.bubble{
    width: 45%;
    margin-top: 5%;
}

.logo{
    width: 45px;
    padding-right : 15px;
}