@import url('https://fonts.googleapis.com/css2?family=Damion&family=Jost:wght@300&family=Montserrat:wght@300;400&family=Open+Sans:wght@400;500;700&family=Poppins&family=Spartan:wght@300;700;900&display=swap');

body{
    font-family: 'Jost';
}
.wrapper {
background-color : rgb(177, 211, 255);
padding: 1em;
margin :
}
.box {
    background: rgb(246, 191, 182);
}
.card > div {
    border : black 0.5px solid;
    padding: 0.5em;
    background-color: whitesmoke;
    text-align: center;
}
.card1 > div {
    border : black 0.5px solid;
    padding: 0.5em;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows : minmax(200px, auto);
    grid-gap : 1em; 
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap : 1em;
    grid-auto-rows: minmax(200px,auto);
    
}
.card1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap : 1em;
    grid-auto-rows: minmax(100px,auto);
}
img {
    width: 100%;
}
