@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1{
      text-align: center;
      margin-top: 20px;
      font-family: 'Major Mono display';
      color: cornsilk;
  }
  body {
    background: rgb(36, 93, 50);
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }
  
  .slider img {
    max-width: 100%;
    display: none;
  }

  img.active {
    display: block;
    animation: fade 0.8s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .cont-btn {
    width: 92%;
    height: auto;
    border: 1px solid #000;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
  }

  .btn-nav {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
    color: cornsilk;
  }


/* @keyframes second {
    100%{ transform: translateX(-300vh);}
}

@keyframes first {
    0%{ visibility : visible; transform: translateX(150vh);}
    50%{ visibility : visible; transform: translateX(60vh);}
    100%{ transform: translateX(-200vh);}
} 

@keyframes third {
    50%{ visibility : visible; transform: translateX(-70vh);}
    100%{ transform: translateX(-200vh);}
}  */