/****************************** HEADER *************************************/
header {
  background-color: #222;
  padding: 2%;
}
header h1 {
  color: #ff0;
  font-family: "Grand Hotel", serif;
  margin: 0;
  text-align: center;
}
header p {
  color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
}

#search {
  display: block;
  margin: 0 auto;
}

aside {
  background-color: #222;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  text-align: center;
  border-bottom: #ff0 2px solid;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2%;
  margin-bottom: 2%;
}
nav ul li:last-child {
  border-bottom: 0;
}
nav ul li a {
  color: #eee;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.copyright {
  color: #ff0;
  font-family: "Grand Hotel", serif;
  visibility: hidden;
}

.limonade {
  background-image: url("../images/bg-presentation.jpg");
  background-size: cover;
  color: #fff;
  padding: 2%;
}
.limonade h1 {
  font-family: "Grand Hotel", serif;
  text-align: left;
}
.limonade p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: left;
}
.limonade blockquote {
  text-align: right;
  margin-right: 10%;
  margin-left: 5%;
}
.limonade blockquote .quote {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-style: italic;
}
.limonade blockquote .mag {
  font-family: "Grand Hotel", serif;
}

.produits {
  background-color: #eee;
}
.produits h1, .produits h2 {
  font-family: "Grand Hotel", serif;
  color: #222;
}
.produits .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.produits .cards img {
  width: 100%;
}

figure.product {
  border: 1px solid #444;
  padding: 1%;
  background-color: #fff;
}

.more {
  background-color: #222;
  font-family: "Grand Hotel", serif;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 1%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 50%;
}

.production .more {
  background-color: #ff0;
  font-family: "Grand Hotel", serif;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 1%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 50%;
  color: #222;
  border: none;
}

.btn-submit {
  background-color: #ff0;
  font-family: "Grand Hotel", serif;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 1%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 50%;
  color: #222;
  border: none;
}

figure.client, figure.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.production {
  background-image: url(../images/bg-production.jpg);
  background-size: cover;
  padding: 2%;
}
.production h1, .production h2 {
  font-family: "Grand Hotel", serif;
  color: #fff;
}
.production p, .production figcaption {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #fff;
}

.client {
  background-color: #eee;
  padding: 2%;
}
.client h1, .client h2 {
  font-family: "Grand Hotel", serif;
  color: #222;
}
.client .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.client .cards img {
  width: 100%;
}

figure.client {
  border: 1px solid #444;
  padding: 1%;
  background-color: #fff;
}
figure.client blockquote {
  margin: 0;
}

.contact {
  background-image: url("../images/bg-contact.jpg");
  background-size: cover;
  color: #fff;
  padding: 2%;
}
.contact h1 {
  font-family: "Grand Hotel", serif;
  text-align: left;
}
.contact p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
.contact input[type=email], .contact textarea {
  margin-top: 2%;
  opacity: 0.7em;
}

@media screen and (min-width: 1024px) {
  header {
    position: relative;
    padding: 5%;
  }
  header h1 {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 3em;
  }
  header p {
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 1.5em;
  }
  header form {
    position: absolute;
    top: 25px;
    right: 20px;
  }

  .content {
    display: flex;
  }

  aside {
    width: 30%;
  }

  main {
    width: 70%;
    overflow: hidden;
  }

  .limonade {
    height: 50vh;
  }
  .limonade h1 {
    font-size: 3em;
    text-align: left;
    width: 65%;
  }
  .limonade p {
    font-size: 20px;
    width: 55%;
  }
  .limonade blockquote {
    text-align: right;
    font-size: 1.5em;
    width: 50%;
  }

  .client .cards, .production .cards, .produits .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-items: stretch;
  }

  a.more {
    margin-right: 40px;
    width: 20%;
    font-size: 1.5em;
  }

  .production .more {
    margin-right: 40px;
    width: 20%;
    font-size: 1.5em;
  }

  .production h1 {
    text-align: right;
  }
  .production p {
    text-align: right;
  }
  .client .cards p {
    font-size: 5em;
  }
}