@import url('https://fonts.googleapis.com/css2?family=Damion&family=Jost:wght@300;400&family=Montserrat:wght@300;400&family=Open+Sans:wght@400;500;700&family=Poppins&family=Quicksand:wght@400;600&family=Spartan:wght@300;700;900&display=swap');

*{
    font-family: 'Quicksand';
    margin: 0;
}

/********************************* HEADER *************************************/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 40%;
}

ul{
    list-style-type: none;
    text-decoration: none;
    
}
a{
    text-decoration: none;
    color: black;
}

/********************************* CARROUSEL *************************************/

.bloc{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

.bloc video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -100;
    opacity: 0.9;
}

h1{
    color: white;
    margin-top: 160%;
    padding: 1em;
}

p{
    margin-top: 10px;
    color: white;
    padding: 10px;
}

section{
    width: 300px;
    height: 500px;
    background-color: yellowgreen;
    padding: 1em;
}

.info{
    background-color: white;
    padding: 1em;
    margin : 1em;
    margin-top: 10px;
}