//variables couleurs
$yellow: #ff0;
$lightYellow: #ff4;
$darkGrey: #222;
$lightGrey: #444;
$silver: #eee;
$light:#fff;

//variables font
$grand-hotel: "Grand Hotel", serif;
$open-sans: "Open Sans", Helvetica, Arial, sans-serif;
/****************************** HEADER *************************************/
header {
    background-color: $darkGrey;
    padding: 2%;
    h1 {
        color: $yellow;
        font-family: $grand-hotel;
        margin: 0;
        text-align: center;
    }
    p{
        color: $light;
        font-family: $open-sans;
        text-align: center;
    }
}

#search {
    display: block;
    margin: 0 auto;
}

aside {
    background-color: $darkGrey
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            text-align: center;
            border-bottom: $yellow 2px solid;
            width: 50%;
            margin: 0 auto;
            padding-bottom: 2%;
            margin-bottom: 2%;
            &:last-child {
                border-bottom: 0;
            }

            a{
                color:$silver;
                font-family: $open-sans;
                text-decoration: none;
            }
        }
    }
}


.copyright {
    color: $yellow;
    font-family: $grand-hotel;
    visibility: hidden;

}
/////////////////////////////////////// section limonade/////////////////////////
.limonade {
    background-image: url("../images/bg-presentation.jpg");
    background-size: cover;
    color: $light;
    padding: 2%;
    h1 {
        font-family:$grand-hotel;
        text-align: left;
            }
    p {
        font-family:$open-sans;
        text-align: left;
            }
            blockquote {
                text-align: right;
                margin-right: 10%;
                margin-left: 5%;
    .quote {
        font-family:$open-sans;
        font-style: italic;
    }
    .mag {
        font-family:$grand-hotel;
        }
    }
}

/////////////////////////////////////// section produits/////////////////////////////

.produits{
        background-color: $silver;
    h1,h2{
        font-family: $grand-hotel;
        color: $darkGrey;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards img{
        width: 100%;
    }
}


figure.product{
    border: 1px solid $lightGrey;
    padding: 1%;
    background-color: $light;
}

@mixin btn ($darkGrey,$grand-hotel) {
    background-color: $darkGrey;
    font-family: $grand-hotel;
    text-align: center;
    text-decoration: none;
    color: $light;
    padding: 1%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    
}
///// BUTTON 
.more{
 @include btn ($darkGrey,$grand-hotel)
}

.production .more{
    @include btn ($yellow, $grand-hotel);
    color : $darkGrey;
    border: none;
}

.btn-submit {
    @include btn ($yellow, $grand-hotel);
    color : $darkGrey;
    border: none;
}

///// EXTEND
%flexMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure.step{
    @extend %flexMobile;
}


/////////////////////////////////////// section productions/////////////////////////////

.production{
    background-image: url(../images/bg-production.jpg);
    background-size: cover;
    padding: 2%;
    h1,h2{
        font-family: $grand-hotel;
        color: $light;
    }
    p, figcaption{
        font-family: $open-sans;
        color: $light;
    }
}

/////////////////////////////////////// section clients /////////////////////////////

.client{
    background-color: $silver;
    padding: 2%;
h1,h2{
    font-family: $grand-hotel;
    color: $darkGrey;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards img{
    width: 100%;
}
}


figure.client{
border: 1px solid $lightGrey;
padding: 1%;
background-color: $light;
@extend %flexMobile;

    blockquote{
        margin: 0;
    }
}

/////////////////////////////////////// contact /////////////////////////////
.contact{
    background-image: url("../images/bg-contact.jpg");
    background-size: cover;
    color: $light;
    padding: 2%;
    h1 {
        font-family:$grand-hotel;
        text-align: left;
        }
            p {
                font-family:$open-sans; 
                display: flex; 
                flex-direction: column;
            }
            input[type=email], textarea {
                margin-top: 2%;
                opacity: 0.7em;
            }
}

//////////////////////////////////////MEDIA QUERIES/////////////////////////////////////

@media screen and(min-width: 1024px) {
///////////////////////////////////////// HEADER ///////////////////////////////////////
    header{
        position: relative;
        padding: 5%;
        h1{
            position: absolute;
            top: 5px;
            left: 10px;
            font-size: 3em;
        }
        p{
            position: absolute;
            top :40px;
            left: 10px; 
            font-size: 1.5em; 
        }
        form{
            position: absolute;
            top : 25px;
            right: 20px;

        }
    }
//////////////////////////////////////// NAV-ASIDE ///////////////////////////////////
    .copyright {
        visibility: visible;
        position: absolute;
        bottom: 0;
        color: $yellow;
    }
/////////////////////////////// FLEX DES 2 BLOCS ASIDE ET MAIN /////////////////////// 
    .content {
        display: flex
    }

    aside {
        width: 30%;
    }
    main {
        width: 70%; overflow: hidden;
    }
//////////////////////////////////////// ACCUEIL /////////////////////////////////////
.limonade {
    height: 50vh;
    h1{
        font-size: 3em;
        text-align: left;
        width: 65%;
    }
    p{
        font-size: 20px;
        width: 55%;
    }
    blockquote{
        text-align: right;
        font-size: 1.5em;
        width: 50%;
    }
}
///////////////////////////////////////EXTEND//////////////////////////////////////////
%flexDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-items: stretch;
}

///////////////////////////////////////BUTTON//////////////////////////////////////////
a.more{
   margin-right: 40px;
   width: 20%;
   font-size: 1.5em;
}
.production{
    .more{
    margin-right: 40px;
    width: 20%;
    font-size: 1.5em;
}}

//////////////////////////////////////// PRODUITS  ///////////////////////////////////
.produits{
    .cards {
        @extend %flexDesktop;  
    } 
}
//////////////////////////////////////// PRODUCTIONS /////////////////////////////////
.production{
    h1{
        text-align: right;
    }
    p{
        text-align: right;
    }
    .cards{
        @extend %flexDesktop;
    }
}
//////////////////////////////////////// CLIENTS ////////////////////////////////
.client{ 
    .cards{
        @extend %flexDesktop;
        p{
            font-size: 5em;
        }
    }

    }

}